# Extracting data from relational databases

## SQLite Database

Import Package

In [2]:
#import sqlite package
import sqlite3

In [3]:
#Create a connection to database : it will creates the database if not avilable 
connection = sqlite3.connect("classroomDB.db")
connection.close()

Create table

In [6]:
#open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
drop_table = """
drop table classroom;
"""
cursor.execute(drop_table)

#create table ddl
create_table = """
Create table classroom (
student_id integer primary key,
name varchar(20),
gender char(1),
physics_marks integer,
chemistry_marks integer,
math_marks integer
);
"""
#execute sql
cursor.execute(create_table)
connection.commit()
connection.close()

insert data

In [7]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
insert_row = """insert into classroom values(1,"Raj","M",90,89,96);"""
cursor.execute(insert_row)
connection.commit()
connection.close()

In [8]:
classroom_data = [
    (2,"Rani","M",92,81,99),
    (3,"Rana","M",98,82,95),
    (4,"Dingu","M",96,94,97),
    (5,"Jungi","M",97,80,91)]

connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()

for st in classroom_data:
    insert_row = """insert into classroom values({0},"{1}","{2}",{3},{4},{5});""".format(st[0],st[1],st[2],st[3],st[4],st[5])
    #print insert_row
    cursor.execute(insert_row)
connection.commit()
connection.close()

Extract data

In [10]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
query = """select * from classroom;"""
results = cursor.execute(query)
for row in results:
    print(row)
connection.close()

(1, u'Raj', u'M', 90, 89, 96)
(2, u'Rani', u'M', 92, 81, 99)
(3, u'Rana', u'M', 98, 82, 95)
(4, u'Dingu', u'M', 96, 94, 97)
(5, u'Jungi', u'M', 97, 80, 91)